
/ML
/arch:ia32
#/QxN
#/QxHOST

/Qipo
#/Oa
#/Qip
#/Qipo
#/fast
#/Qip-no-inlining
#/Qip-no-pinlining
/Qunroll-aggressive
/Qalias-const
/Qopt-multi-version-aggressive
/Qopt-subscript-in-range
/Qopt-prefetch
#/Qprof-psa-use
/Qinline-calloc
#/Qalign
#/align
#/Qsfalign16
#/Qfnalign
#/Qnobss-init
#/Qprof-src-root-cwd
/Qprof-src-dir-
/Qprof-dir OPT11
#/Qprof-gen
/Qprof-use

/GR-
/GX-
/O3

/Gr
/Qvc6
/Qrestrict
/Qlong_double
/QIfist
#/Qssp-
/Qcomplex_limited_range
/GF
/GA

/IC:\!WD_G\INTEL_C\compiler45\include

/link /OPT:NOWIN98 /OPT:NOREF

#/link /FIXED:NO
#/link /MERGE:.rdata=.data
#/link /MERGE:.data1=.data
